name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:

  check:
    name: Check runix
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install flox
      uses: flox/install-flox-action@main
      with:
        github-access-token: ${{ secrets.NIX_GIT_TOKEN }}

    - name: check clippy
      run: flox activate -e .#runix -- cargo clippy

    - name: check format
      run: flox activate -e .#runix -- cargo fmt --check

    - name: run tests
      run: flox activate -e .#runix -- cargo test
